# Hash Identifier

In [61]:
import pandas as pd
import numpy as nnp
df=pd.read_csv('dataset.csv')
df.head()
df.describe()

       String Hash_method                                               hash
count    9997        9998                                               9998
unique   9989           3                                               9998
top       123      sha512  9f217e98ce1394463b0c4641e08f610edddfe29e647d34...
freq        3        3375                                                  1

In [62]:
df.groupby('Hash_method').describe()

            String                      hash         \
             count unique     top freq count unique
Hash_method
md5           3318   3316     123    3  3319   3319
sha256        3304   3303  123654    2  3304   3304
sha512        3375   3375  Marcus    1  3375   3375


                                                           top freq
Hash_method
md5                           018c55f86406c78a3c8ea0623bbe62a3    1
sha256       49aa443d892c945d1f87d249fee3c4de618812e8cc2c46...    1
sha512       8093f280defd28639c65b2f1eedbfe40d37e638b6ba209...    1

In [64]:
df['output']=df['Hash_method'].apply(lambda x: 1 if x=='md5' else 0)
df.head(15)

,String,Hash_method,hash,output
0,6,sha256,e7f6c011776e8db7cd330b54174fd76f7d0216b612387a...,0
1,12,sha256,6b51d431df5d7f141cbececcf79edf3dd861c3b4069f0b...,0
2,pas,sha512,589a99a8f2aa04518eca6f703f01860762f35c298138ef...,0
3,you,sha512,263adce0f04ee1eb3e75528ed5251724906bdd44c4265a...,0
4,12345,sha512,3627909a29c31381a071ec27f7c9ca97726182aed29a7d...,0
5,NaN,md5,d41d8cd98f00b204e9800998ecf8427e,1
6,abc123,md5,e99a18c428cb38d5f260853678922e03,1
7,babygirl,sha512,da34e82ebc71ccc880c639cfbdaf94b3a01c2b98c4e54d...,0
8,jessica,md5,aae039d6aa239cfc121357a825210fa3,1
9,ashley,md5,adff44c5102fca279fce7559abf66fee,1
10,iloveu,md5,edbd0effac3fcc98e725920a512881e0,1
11,tigger,md5,f78f2477e949bee2d12a2c540fb6084f,1
12,password1,md5,7c6a180b36896a0a8c02787eeafb0e4c,1
13,friends,md5,28f20a02bf8a021fab4fcec48afb584e,1
14,angel,sha512,9ca0536ceb245f5c7a3ce3a09f6646c60ae3f301e3fc65...,0

In [65]:
df.drop(df[['String','Hash_method']],axis=1)

                                                   hash  output
0     e7f6c011776e8db7cd330b54174fd76f7d0216b612387a...       0
1     6b51d431df5d7f141cbececcf79edf3dd861c3b4069f0b...       0
2     589a99a8f2aa04518eca6f703f01860762f35c298138ef...       0
3     263adce0f04ee1eb3e75528ed5251724906bdd44c4265a...       0
4     3627909a29c31381a071ec27f7c9ca97726182aed29a7d...       0
...                                                 ...     ...
9993  51842c1640a47ecb69a5e4d640a4142c1eebd56e670f96...       0
9994                   68c64e9054252fe80317fdb187d50f41       1
9995  184fc6aff2cd357ca5f1e1a7dacd9c5a5b0901ecdc12da...       0
9996  f1dd5a9c74259ba30a03a4f532caef305ce569e3628c53...       0
9997  8876afd50e72fec09b02854e6116583c1adce0a30228b2...       0

[9998 rows x 2 columns]

In [67]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(df.hash,df.output,train_size=0.8)

In [70]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
xtrain_count=v.fit_transform(xtrain.values)
xtrain_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [71]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(xtrain_count,ytrain)

MultinomialNB()

In [81]:
predictors=['bbcfa5a96267c0fd71d9c86585c4f354',
      '4bc0304b61ed1eefca0bfd554d1669915d1b0d7a935ca309162960dd8979a7a121e1333d9c81a956403990c3779adb11710060c31baa18bac9166f6b5eb058ac'
           ]
predictors_count=v.transform(predictors)
model.predict(predictors_count)

array([0, 0], dtype=int64)

In [76]:
xtest_count=v.transform(xtest.values)
model.score(xtest_count,ytest)

0.6735

In [77]:
from sklearn.pipeline import Pipeline
cld=Pipeline([('Vectorizer',CountVectorizer()),('nb',MultinomialNB())])

In [78]:
cld.fit(xtrain,ytrain)

Pipeline(steps=[('Vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [79]:
cld.score(xtest,ytest)

0.6735

In [80]:
cld.score(["667ff118ef6d196c96313aeaee7da519"],[1])

0.0